In [1]:
import pandas as pd

In [24]:
# weather data from https://agriculture.alberta.ca/acis/weather-data-viewer.jsp

In [60]:
df = pd.read_csv('data_and_location.csv', index_col=0)

In [5]:
df.head()

,Location.x,JDay,Date,SsCtMean,SsCtSD,SsMean,logSsMean,SsSD,SsClean,logSsClean,...,FieldID,SamplerNo,CropType,Crop,Region,Province,SamplerPresent,SamplerType,Lat,Long
0,1917,189,2019-07-08,160.0,0.14,317.43,2.503014,29.84,317.43,2.50,...,1917,NaN,Bean,Bean,Bow Island,Alberta,Yes,Burkard,49.75546,-111.42112
1,1917,190,2019-07-09,327.0,0.43,67.09,1.833083,17.18,67.09,1.83,...,1917,NaN,Bean,Bean,Bow Island,Alberta,Yes,Burkard,49.75546,-111.42112
2,1917,191,2019-07-10,380.0,0.17,35.45,1.561698,3.95,0.00,0.00,...,1917,NaN,Bean,Bean,Bow Island,Alberta,Yes,Burkard,49.75546,-111.42112
3,1917,192,2019-07-11,209.0,0.36,210.56,2.325434,46.42,210.56,2.33,...,1917,NaN,Bean,Bean,Bow Island,Alberta,Yes,Burkard,49.75546,-111.42112
4,1917,193,2019-07-12,152.0,0.06,313.94,2.498228,11.81,313.94,2.50,...,1917,NaN,Bean,Bean,Bow Island,Alberta,Yes,Burkard,49.75546,-111.42112

In [66]:
df['Date'] = pd.to_datetime(df['Date'])

In [7]:
df2 = df.sort_values(by='Date')

In [8]:
df2.head()

,Location.x,JDay,Date,SsCtMean,SsCtSD,SsMean,logSsMean,SsSD,SsClean,logSsClean,...,FieldID,SamplerNo,CropType,Crop,Region,Province,SamplerPresent,SamplerType,Lat,Long
414,Vauxhall,164,2018-06-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Vauxhall,NaN,City,NaN,Vauxhall,Alberta,No,NaN,50.070242,-112.106166
491,Taber,164,2018-06-13,NaN,NaN,41.923333,1.632693,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
337,Cranford,164,2018-06-13,NaN,NaN,295.035000,2.471343,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
492,Taber,165,2018-06-14,NaN,NaN,66.596667,1.829925,NaN,NaN,NaN,...,Taber,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
415,Vauxhall,165,2018-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Vauxhall,NaN,City,NaN,Vauxhall,Alberta,No,NaN,50.070242,-112.106166

In [9]:
df2.tail()

,Location.x,JDay,Date,SsCtMean,SsCtSD,SsMean,logSsMean,SsSD,SsClean,logSsClean,...,FieldID,SamplerNo,CropType,Crop,Region,Province,SamplerPresent,SamplerType,Lat,Long
167,1904,239,2019-08-27,333.0,0.00,49.65,1.704579,0.00,0.0,0.0,...,1904,NaN,Bean,Bean,Vauxhall,Alberta,Yes,Burkard,49.869673,-112.076528
112,1919,239,2019-08-27,402.0,0.12,25.66,1.425860,2.02,0.0,0.0,...,1919,NaN,Bean disease nursery,Bean,Lethbridge,Alberta,Yes,Burkard,49.702320,-112.759150
223,1910,239,2019-08-27,351.0,0.51,44.37,1.656769,13.94,0.0,0.0,...,1910,NaN,Bean,Bean,Vauxhall,Alberta,Yes,Burkard,50.132300,-112.098000
286,1906,239,2019-08-27,392.0,0.07,24.62,1.408579,1.07,0.0,0.0,...,1906,NaN,Bean,Bean,Vauxhall,Alberta,Yes,Burkard,49.906048,-112.108929
113,1919,240,2019-08-28,436.0,0.22,15.87,1.227115,2.25,0.0,0.0,...,1919,NaN,Bean disease nursery,Bean,Lethbridge,Alberta,Yes,Burkard,49.702320,-112.759150

In [12]:
df2['Location.x'].unique()

array(['Vauxhall', 'Taber', 'Cranford', '1919', '1906', '1910', '1904',
       '1915', '1917'], dtype=object)

In [23]:
df2[['Location.x','Lat','Long']][df2['Location.x']=='1917']

   Location.x       Lat       Long
0        1917  49.75546 -111.42112
1        1917  49.75546 -111.42112
2        1917  49.75546 -111.42112
3        1917  49.75546 -111.42112
4        1917  49.75546 -111.42112
5        1917  49.75546 -111.42112
6        1917  49.75546 -111.42112
7        1917  49.75546 -111.42112
8        1917  49.75546 -111.42112
9        1917  49.75546 -111.42112
10       1917  49.75546 -111.42112
11       1917  49.75546 -111.42112
12       1917  49.75546 -111.42112
13       1917  49.75546 -111.42112
14       1917  49.75546 -111.42112
15       1917  49.75546 -111.42112
16       1917  49.75546 -111.42112
17       1917  49.75546 -111.42112
18       1917  49.75546 -111.42112
19       1917  49.75546 -111.42112
20       1917  49.75546 -111.42112
21       1917  49.75546 -111.42112
22       1917  49.75546 -111.42112
23       1917  49.75546 -111.42112
24       1917  49.75546 -111.42112
25       1917  49.75546 -111.42112
26       1917  49.75546 -111.42112
27       1917  49.75546 -111.42112
28       1917  49.75546 -111.42112
29       1917  49.75546 -111.42112
30       1917  49.75546 -111.42112
31       1917  49.75546 -111.42112
32       1917  49.75546 -111.42112
33       1917  49.75546 -111.42112
34       1917  49.75546 -111.42112
35       1917  49.75546 -111.42112
36       1917  49.75546 -111.42112
37       1917  49.75546 -111.42112
38       1917  49.75546 -111.42112
39       1917  49.75546 -111.42112
40       1917  49.75546 -111.42112
41       1917  49.75546 -111.42112
42       1917  49.75546 -111.42112
43       1917  49.75546 -111.42112
44       1917  49.75546 -111.42112
45       1917  49.75546 -111.42112
46       1917  49.75546 -111.42112
47       1917  49.75546 -111.42112
48       1917  49.75546 -111.42112
49       1917  49.75546 -111.42112

In [ ]:
# use vauxhall weather for 1906, 1910
# use taber weather for taber, 1904
# 1919 = lethbridge

In [31]:
taber = pd.read_csv('taber_18-19.csv')

In [26]:
taber.head()

,Station Name,Date (Local Standard Time),Air Temp. Min. (ï¿½C),Air Temp. Min. Source Flag,Air Temp. Min. Record Completeness (%),Air Temp. Max. (ï¿½C),Air Temp. Max. Source Flag,Air Temp. Max. Record Completeness (%),Air Temp. Avg. (ï¿½C),Air Temp. Avg. Source Flag,...,Growing Degree Days Long Term (base 5ï¿½C) (GDD),Growing Degree Days Long Term (base 5ï¿½C) Source Flag,Frost Probability 0ï¿½C (%),Frost Probability 0ï¿½C Source Flag,Frost Probability 0ï¿½C Record Completeness (%),ET. Std-Grass (mm),ET. Std-Grass Source Flag,ET. Std-Grass Comment,Growing Degree Days (base 5ï¿½C) (GDD),Growing Degree Days (base 5ï¿½C) Source Flag
0,Fincastle IMCIN,01-June-2018,9.1,ACTUAL,100.0,15.5,ACTUAL,100.0,11.4,AGGREGATED,...,9.6,COMPUTED,0.0,COMPUTED,NaN,2.5,COMPUTED,"solar-ACT, 2m wind, Avg.",7.3,COMPUTED
1,Fincastle IMCIN,02-June-2018,7.2,ACTUAL,100.0,21.9,ACTUAL,100.0,15.7,AGGREGATED,...,19.5,COMPUTED,0.0,COMPUTED,NaN,5.6,COMPUTED,"solar-ACT, 2m wind, Avg.",16.8,COMPUTED
2,Fincastle IMCIN,03-June-2018,8.0,ACTUAL,100.0,25.8,ACTUAL,100.0,17.3,AGGREGATED,...,29.4,COMPUTED,0.0,COMPUTED,NaN,6.1,COMPUTED,"solar-ACT, 2m wind, Avg.",28.7,COMPUTED
3,Fincastle IMCIN,04-June-2018,14.6,ACTUAL,100.0,24.9,ACTUAL,100.0,19.1,AGGREGATED,...,39.8,COMPUTED,0.0,COMPUTED,NaN,6.4,COMPUTED,"solar-ACT, 2m wind, Avg.",43.4,COMPUTED
4,Fincastle IMCIN,05-June-2018,5.4,ACTUAL,100.0,22.2,ACTUAL,100.0,14.7,AGGREGATED,...,50.3,COMPUTED,0.0,COMPUTED,NaN,5.4,COMPUTED,"solar-ACT, 2m wind, Avg.",52.3,COMPUTED

In [27]:
taber.shape

(458, 44)

In [28]:
taber.columns

Index(['Station Name', 'Date (Local Standard Time)', 'Air Temp. Min. (ï¿½C)',
       'Air Temp. Min. Source Flag', 'Air Temp. Min. Record Completeness (%)',
       'Air Temp. Max. (ï¿½C)', 'Air Temp. Max. Source Flag',
       'Air Temp. Max. Record Completeness (%)', 'Air Temp. Avg. (ï¿½C)',
       'Air Temp. Avg. Source Flag', 'Air Temp. Avg. Record Completeness (%)',
       'Humidity Avg. (%)', 'Humidity Avg. Source Flag',
       'Humidity Avg. Record Completeness (%)', 'Precip. Accumulated (mm)',
       'Precip. Accumulated Source Flag', 'Precip. Accumulated Comment',
       'Precip. (mm)', 'Precip. Source Flag', 'Precip. Comment',
       'Wind Speed 10 m Avg. (km/h)', 'Wind Speed 10 m Avg. Source Flag',
       'Wind Speed 10 m Avg. Record Completeness (%)',
       'Precip. Long Term (mm)', 'Precip. Long Term Source Flag',
       'Air Temp. Avg. Long Term (ï¿½C)', 'Air Temp. Avg. Long Term Source Flag',
       'Air Temp. Avg. Long Term Record Completeness (%)',
       'Air Temp. Avg. Min. Long Term (ï¿½C)',
       'Air Temp. Avg. Min. Long Term Source Flag',
       'Air Temp. Avg. Min. Long Term Record Completeness (%)',
       'Air Temp. Avg. Max. Long Term (ï¿½C)',
       'Air Temp. Avg. Max. Long Term Source Flag',
       'Air Temp. Avg. Max. Long Term Record Completeness (%)',
       'Growing Degree Days Long Term (base 5ï¿½C) (GDD)',
       'Growing Degree Days Long Term (base 5ï¿½C) Source Flag',
       'Frost Probability 0ï¿½C (%)', 'Frost Probability 0ï¿½C Source Flag',
       'Frost Probability 0ï¿½C Record Completeness (%)', 'ET. Std-Grass (mm)',
       'ET. Std-Grass Source Flag', 'ET. Std-Grass Comment',
       'Growing Degree Days (base 5ï¿½C) (GDD)',
       'Growing Degree Days (base 5ï¿½C) Source Flag'],
      dtype='object')

In [32]:
to_drop = [
       'Air Temp. Min. Source Flag', 'Air Temp. Min. Record Completeness (%)',
       'Air Temp. Max. Source Flag',
       'Air Temp. Max. Record Completeness (%)', 
       'Air Temp. Avg. Source Flag', 'Air Temp. Avg. Record Completeness (%)',
       'Humidity Avg. Source Flag',
       'Humidity Avg. Record Completeness (%)', 
       'Precip. Accumulated Source Flag', 'Precip. Accumulated Comment',
        'Precip. Source Flag', 'Precip. Comment',
        'Wind Speed 10 m Avg. Source Flag',
       'Wind Speed 10 m Avg. Record Completeness (%)',
        'Precip. Long Term Source Flag',
        'Air Temp. Avg. Long Term Source Flag',
       'Air Temp. Avg. Long Term Record Completeness (%)',
       'Air Temp. Avg. Min. Long Term Source Flag',
       'Air Temp. Avg. Min. Long Term Record Completeness (%)',
       'Air Temp. Avg. Max. Long Term Source Flag',
       'Air Temp. Avg. Max. Long Term Record Completeness (%)',
       'Growing Degree Days Long Term (base 5ï¿½C) Source Flag',
       'Frost Probability 0ï¿½C Source Flag',
       'Frost Probability 0ï¿½C Record Completeness (%)', 
       'ET. Std-Grass Source Flag', 'ET. Std-Grass Comment',
       'Growing Degree Days (base 5ï¿½C) Source Flag',
'Precip. Accumulated (mm)', 'Precip. Long Term (mm)', 'Air Temp. Avg. Long Term (ï¿½C)','Air Temp. Avg. Min. Long Term (ï¿½C)', 'Air Temp. Avg. Max. Long Term (ï¿½C)',
'Growing Degree Days Long Term (base 5ï¿½C) (GDD)', 'Growing Degree Days (base 5ï¿½C) (GDD)', 'ET. Std-Grass (mm)',]

taber.drop(labels=to_drop, axis=1, inplace=True)

In [33]:
taber.head()

,Station Name,Date (Local Standard Time),Air Temp. Min. (ï¿½C),Air Temp. Max. (ï¿½C),Air Temp. Avg. (ï¿½C),Humidity Avg. (%),Precip. (mm),Wind Speed 10 m Avg. (km/h),Frost Probability 0ï¿½C (%)
0,Fincastle IMCIN,01-June-2018,9.1,15.5,11.4,84.7,14.2,12.5,0.0
1,Fincastle IMCIN,02-June-2018,7.2,21.9,15.7,53.8,0.0,18.1,0.0
2,Fincastle IMCIN,03-June-2018,8.0,25.8,17.3,54.1,0.0,12.7,0.0
3,Fincastle IMCIN,04-June-2018,14.6,24.9,19.1,47.6,0.0,21.4,0.0
4,Fincastle IMCIN,05-June-2018,5.4,22.2,14.7,53.3,0.0,11.6,0.0

In [35]:
taber.to_csv('taber_processed_18-19.csv')

In [36]:
gl = pd.read_csv('grassy_lake_1915_1917_18-19.csv')

In [37]:
gl.drop(labels=to_drop, axis=1, inplace=True)

In [38]:
gl.head()

,Station Name,Date (Local Standard Time),Air Temp. Min. (ï¿½C),Air Temp. Max. (ï¿½C),Air Temp. Avg. (ï¿½C),Humidity Avg. (%),Precip. (mm),Wind Speed 10 m Avg. (km/h),Frost Probability 0ï¿½C (%)
0,Grassy Lake IMCIN,01-June-2018,9.1,16.0,11.2,87.3,13.4,14.3,1.7
1,Grassy Lake IMCIN,02-June-2018,6.8,23.0,15.6,56.9,0.0,18.7,1.7
2,Grassy Lake IMCIN,03-June-2018,6.8,25.7,17.2,55.8,0.0,13.1,1.7
3,Grassy Lake IMCIN,04-June-2018,12.5,26.7,19.6,46.5,0.0,23.7,1.7
4,Grassy Lake IMCIN,05-June-2018,5.0,22.8,14.8,55.5,0.0,11.1,1.7

In [39]:
gl.to_csv('grassy_lake_processed_18-19.csv')

In [40]:
vaux = pd.read_csv('vauxhall_18-19.csv')

In [41]:
vaux.drop(labels=to_drop, axis=1, inplace=True)

In [43]:
vaux.head()

,Station Name,Date (Local Standard Time),Air Temp. Min. (ï¿½C),Air Temp. Max. (ï¿½C),Air Temp. Avg. (ï¿½C),Humidity Avg. (%),Precip. (mm),Wind Speed 10 m Avg. (km/h),Frost Probability 0ï¿½C (%)
0,Vauxhall CDA CS,01-June-2018,8.8,14.9,11.1,87.4,19.5,10.8,5.1
1,Vauxhall CDA CS,02-June-2018,7.4,22.6,15.8,58.7,0.1,15.4,5.1
2,Vauxhall CDA CS,03-June-2018,7.1,24.9,16.7,60.8,0.0,10.1,5.1
3,Vauxhall CDA CS,04-June-2018,13.6,25.2,19.4,47.6,0.0,25.5,5.1
4,Vauxhall CDA CS,05-June-2018,5.7,21.8,14.3,56.9,0.1,12.7,5.1

In [44]:
vaux.to_csv('vauxhall_processed_18-19.csv')

In [48]:
nine = pd.read_csv('1919_18-19.csv')

In [49]:
nine.drop(labels=to_drop, axis=1, inplace=True)
nine.head()

,Station Name,Date (Local Standard Time),Air Temp. Min. (ï¿½C),Air Temp. Max. (ï¿½C),Air Temp. Avg. (ï¿½C),Humidity Avg. (%),Precip. (mm),Wind Speed 10 m Avg. (km/h),Frost Probability 0ï¿½C (%)
0,Lethbridge CDA,01-June-2018,8.7,16.7,11.4,85.5,16.5,10.6,3.4
1,Lethbridge CDA,02-June-2018,10.9,22.1,16.6,44.5,0.4,27.1,3.4
2,Lethbridge CDA,03-June-2018,9.1,27.1,18.1,49.1,0.2,9.4,1.7
3,Lethbridge CDA,04-June-2018,13.4,24.6,19.4,43.1,0.2,23.1,1.7
4,Lethbridge CDA,05-June-2018,5.2,22.2,15.0,46.5,0.0,12.8,1.7

In [50]:
nine.to_csv('lethbridge_processed_18-19.csv')

In [51]:
cran = pd.read_csv('cranford_18-19.csv')

In [52]:
cran.drop(labels=to_drop, axis=1, inplace=True)
cran.head()

,Station Name,Date (Local Standard Time),Air Temp. Min. (ï¿½C),Air Temp. Max. (ï¿½C),Air Temp. Avg. (ï¿½C),Humidity Avg. (%),Precip. (mm),Wind Speed 10 m Avg. (km/h),Frost Probability 0ï¿½C (%)
0,Barnwell AGDM,01-June-2018,9.1,15.4,11.3,86.6,18.5,13.5,1.7
1,Barnwell AGDM,02-June-2018,8.4,22.9,15.9,52.3,0.0,25.4,1.7
2,Barnwell AGDM,03-June-2018,6.2,25.9,16.9,55.6,0.0,13.5,1.7
3,Barnwell AGDM,04-June-2018,13.1,25.7,19.7,42.1,0.0,27.2,1.7
4,Barnwell AGDM,05-June-2018,3.9,22.5,14.4,52.0,0.0,13.6,1.7

In [53]:
cran.to_csv('cranford_processed_18-19.csv')

In [67]:
cran['Date (Local Standard Time)'] = pd.to_datetime(cran['Date (Local Standard Time)'])

In [107]:
cran_df = df.loc[df['Location.x'] == 'Cranford']

In [108]:
cran_df.shape

(77, 98)

In [109]:
cran_df2 = cran_df.merge(cran, how='left', left_on='Date', right_on='Date (Local Standard Time)')

In [110]:
cran_df2.shape

(77, 107)

In [111]:
taber_df = df.loc[(df['Location.x'] == 'Taber') | (df['Location.x'] == '1904')]

In [112]:
taber_df.shape

(131, 98)

In [113]:
taber['Date (Local Standard Time)'] = pd.to_datetime(taber['Date (Local Standard Time)'])

taber_df2 = taber_df.merge(taber, how='left', left_on='Date', right_on='Date (Local Standard Time)')

In [114]:
taber_df2.shape

(131, 107)

In [115]:
main = pd.concat([cran_df2, taber_df2])

In [116]:
main.shape

(208, 107)

In [117]:
gl_df = df.loc[(df['Location.x'] == '1915') | (df['Location.x'] == '1917')]

In [118]:
gl_df.shape

(100, 98)

In [119]:
gl['Date (Local Standard Time)'] = pd.to_datetime(gl['Date (Local Standard Time)'])

gl_df2 = gl_df.merge(gl, how='left', left_on='Date', right_on='Date (Local Standard Time)')

In [120]:
gl_df2.shape

(100, 107)

In [121]:
main = pd.concat([main, gl_df2])

In [122]:
main.shape

(308, 107)

In [123]:
v_df = df.loc[(df['Location.x'] == '1906') | (df['Location.x'] == '1910') | (df['Location.x'] == 'Vauxhall')]

In [124]:
v_df.shape

(196, 98)

In [125]:
vaux['Date (Local Standard Time)'] = pd.to_datetime(vaux['Date (Local Standard Time)'])

v_df2 = v_df.merge(vaux, how='left', left_on='Date', right_on='Date (Local Standard Time)')

In [126]:
v_df2.shape

(196, 107)

In [127]:
main = pd.concat([main, v_df2])

In [128]:
main.shape

(504, 107)

In [129]:
n_df = df.loc[df['Location.x'] == '1919']

In [130]:
n_df.shape

(64, 98)

In [131]:
nine['Date (Local Standard Time)'] = pd.to_datetime(nine['Date (Local Standard Time)'])

n_df2 = n_df.merge(nine, how='left', left_on='Date', right_on='Date (Local Standard Time)')

In [132]:
n_df2.shape

(64, 107)

In [133]:
main = pd.concat([main, n_df2])

In [134]:
main.shape

(568, 107)

In [135]:
df.shape

(568, 98)

In [136]:
main.to_csv('final_df.csv')

In [137]:
main.head()

,Location.x,JDay,Date,SsCtMean,SsCtSD,SsMean,logSsMean,SsSD,SsClean,logSsClean,...,Long,Station Name,Date (Local Standard Time),Air Temp. Min. (ï¿½C),Air Temp. Max. (ï¿½C),Air Temp. Avg. (ï¿½C),Humidity Avg. (%),Precip. (mm),Wind Speed 10 m Avg. (km/h),Frost Probability 0ï¿½C (%)
0,Cranford,164,2018-06-13,NaN,NaN,295.035,2.471343,NaN,NaN,NaN,...,NaN,Barnwell AGDM,2018-06-13,7.7,26.5,17.9,38.4,0.0,22.6,0.0
1,Cranford,165,2018-06-14,NaN,NaN,106.900,2.033021,NaN,NaN,NaN,...,NaN,Barnwell AGDM,2018-06-14,4.6,22.0,13.1,65.9,1.2,19.1,0.0
2,Cranford,166,2018-06-15,NaN,NaN,164.775,2.219519,NaN,NaN,NaN,...,NaN,Barnwell AGDM,2018-06-15,7.2,22.0,13.2,77.8,7.2,11.1,0.0
3,Cranford,167,2018-06-16,NaN,NaN,138.380,2.144200,NaN,NaN,NaN,...,NaN,Barnwell AGDM,2018-06-16,11.2,18.1,12.5,89.3,9.8,16.5,0.0
4,Cranford,168,2018-06-17,NaN,NaN,154.545,2.191856,NaN,NaN,NaN,...,NaN,Barnwell AGDM,2018-06-17,7.7,21.8,15.8,67.1,0.0,7.8,0.0

In [139]:
main.isnull().sum().sort_values(ascending=False).head(10)

SamplerNo        568
DiffMinSoilT     333
DiffMeanSoilT    333
DiffMaxSoilT     333
MaxSoilT_1d      331
MinSoilT_1d      331
MeanSoilT_1d     331
MaxSoilTemp      327
MeanSoilTemp     327
MinSoilTemp      327
dtype: int64

In [140]:
main.columns

Index(['Location.x', 'JDay', 'Date', 'SsCtMean', 'SsCtSD', 'SsMean',
       'logSsMean', 'SsSD', 'SsClean', 'logSsClean',
       ...
       'Long', 'Station Name', 'Date (Local Standard Time)',
       'Air Temp. Min. (ï¿½C)', 'Air Temp. Max. (ï¿½C)', 'Air Temp. Avg. (ï¿½C)',
       'Humidity Avg. (%)', 'Precip. (mm)', 'Wind Speed 10 m Avg. (km/h)',
       'Frost Probability 0ï¿½C (%)'],
      dtype='object', length=107)

In [141]:
df.columns

Index(['Location.x', 'JDay', 'Date', 'SsCtMean', 'SsCtSD', 'SsMean',
       'logSsMean', 'SsSD', 'SsClean', 'logSsClean', 'TtCt', 'TtSD', 'Water.',
       'logSsMean_t1', 'Year_x', 'MeanWetness', 'DiffMeanWet', 'MeanWet_1d',
       'MaxWetness', 'DiffMaxWet', 'MaxWet_1d', 'MinWetness', 'DiffMinWet',
       'MinWet_1d', 'MeanTemp', 'DiffMeanT', 'MeanT_1d', 'MaxTemp', 'DiffMaxT',
       'MaxT_1d', 'MinTemp', 'DiffMinT', 'MinT_1d', 'MeanRH', 'DiffMeanRH',
       'MeanRH_1d', 'MaxRH', 'DiffMaxRH', 'MaxRH_1d', 'MinRH', 'DiffMinRH',
       'MinRH_1d', 'DiffRH_0d', 'DiffRH_1d', 'DiffRH_2d', 'MaxDiffRH_2h',
       'MaxDiffRH_3h', 'MeanVPD', 'DiffMeanVPD', 'MeanVPD_1d', 'MaxVPD',
       'DiffMaxVPD', 'MaxVPD_1d', 'MinVPD', 'DiffMinVPD', 'TotalPrecip',
       'Precip_1d', 'RainYN', 'MaxRain', 'MinRain', 'MeanWC', 'DiffMeanWC',
       'MeanWC_1d', 'MaxWC', 'DiffMaxWC', 'MaxWC_1d', 'MinWC', 'DiffMinWC',
       'MinWC_1d', 'MeanDP', 'DiffMeanDP', 'MeanDP_1d', 'MaxDP', 'DiffMaxDP',
       'MaxDP_1d', 'MinDP', 'DiffMinDP', 'MinDP_1d', 'MeanSoilTemp',
       'DiffMeanSoilT', 'MeanSoilT_1d', 'MaxSoilTemp', 'DiffMaxSoilT',
       'MaxSoilT_1d', 'MinSoilTemp', 'DiffMinSoilT', 'MinSoilT_1d', 'Year_y',
       'FieldID', 'SamplerNo', 'CropType', 'Crop', 'Region', 'Province',
       'SamplerPresent', 'SamplerType', 'Lat', 'Long'],
      dtype='object')

In [142]:
to_drop = ['SamplerNo', 'Date (Local Standard Time)', 'Station Name', 'SamplerPresent','SamplerType','Province','Region','Crop','CropType','FieldID']

main.drop(labels=to_drop, axis=1, inplace=True)

In [143]:
main.shape

(568, 97)

In [144]:
main.to_csv('final_df.csv')