In [1]:
import pandas as pd

In [24]:
# weather data from https://agriculture.alberta.ca/acis/weather-data-viewer.jsp

In [3]:
df = pd.read_csv('data_and_location2.csv', index_col=0)

In [4]:
df.head()

,FieldID,Date,Year_x,JDay,SsCtMean,SsCtSD,SsMean,logSsMean,TtCt,TtSD,...,Year_y,SamplerNo,CropType,Crop,Region,Province,SamplerPresent,SamplerType,Lat,Long
0,1904,2019-07-05,2019,186,37.15,0.63,6.51,0.875640,23.60,0.10,...,2019.0,NaN,Bean,Bean,Vauxhall,Alberta,Yes,Burkard,49.869673,-112.076528
1,1904,2019-07-06,2019,187,40.00,0.00,0.00,0.000000,23.29,0.07,...,2019.0,NaN,Bean,Bean,Vauxhall,Alberta,Yes,Burkard,49.869673,-112.076528
2,1904,2019-07-07,2019,188,36.85,0.25,7.57,0.932981,23.40,0.07,...,2019.0,NaN,Bean,Bean,Vauxhall,Alberta,Yes,Burkard,49.869673,-112.076528
3,1904,2019-07-08,2019,189,38.80,0.76,2.32,0.521138,24.03,0.05,...,2019.0,NaN,Bean,Bean,Vauxhall,Alberta,Yes,Burkard,49.869673,-112.076528
4,1904,2019-07-09,2019,190,33.44,0.25,65.06,1.819939,24.41,0.08,...,2019.0,NaN,Bean,Bean,Vauxhall,Alberta,Yes,Burkard,49.869673,-112.076528

In [5]:
df['Date'] = pd.to_datetime(df['Date'])

In [6]:
df2 = df.sort_values(by='Date')

In [7]:
df2.head()

,FieldID,Date,Year_x,JDay,SsCtMean,SsCtSD,SsMean,logSsMean,TtCt,TtSD,...,Year_y,SamplerNo,CropType,Crop,Region,Province,SamplerPresent,SamplerType,Lat,Long
905,Vauxhall,2018-06-13,2018,164,NaN,NaN,NaN,NaN,NaN,NaN,...,2019.0,NaN,City,NaN,Vauxhall,Alberta,No,NaN,50.070242,-112.106166
751,Cranford,2018-06-13,2018,164,NaN,NaN,295.04,2.471343,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
828,Taber,2018-06-13,2018,164,NaN,NaN,41.92,1.632693,NaN,NaN,...,2018.0,NaN,City,NaN,Taber,Alberta,No,NaN,49.785971,-112.152218
906,Vauxhall,2018-06-14,2018,165,NaN,NaN,NaN,NaN,NaN,NaN,...,2019.0,NaN,City,NaN,Vauxhall,Alberta,No,NaN,50.070242,-112.106166
752,Cranford,2018-06-14,2018,165,NaN,NaN,106.90,2.033021,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df2.tail()

,FieldID,Date,Year_x,JDay,SsCtMean,SsCtSD,SsMean,logSsMean,TtCt,TtSD,...,Year_y,SamplerNo,CropType,Crop,Region,Province,SamplerPresent,SamplerType,Lat,Long
746,2042,2020-08-26,2020,239,NaN,NaN,15165.722660,4.181,NaN,NaN,...,2020.0,NaN,Bean disease nursery,Bean,Lethbridge,Alberta,Yes,Burkard,49.70232,-112.75915
747,2042,2020-08-27,2020,240,NaN,NaN,8115.201511,3.909,NaN,NaN,...,2020.0,NaN,Bean disease nursery,Bean,Lethbridge,Alberta,Yes,Burkard,49.70232,-112.75915
748,2042,2020-08-28,2020,241,NaN,NaN,3191.067340,3.504,NaN,NaN,...,2020.0,NaN,Bean disease nursery,Bean,Lethbridge,Alberta,Yes,Burkard,49.70232,-112.75915
749,2042,2020-08-29,2020,242,NaN,NaN,2569.229289,3.410,NaN,NaN,...,2020.0,NaN,Bean disease nursery,Bean,Lethbridge,Alberta,Yes,Burkard,49.70232,-112.75915
750,2042,2020-08-30,2020,243,NaN,NaN,729.416321,2.864,NaN,NaN,...,2020.0,NaN,Bean disease nursery,Bean,Lethbridge,Alberta,Yes,Burkard,49.70232,-112.75915

In [10]:
# 2018 dates start on June 13, 2020 dates end on Aug 30
df2['FieldID'].unique()

array(['Vauxhall', 'Cranford', 'Taber', '1919', '1920', '1921', '1906',
       '1910', '1922', '1904', '1917', '1915', '2007', '2006', '2042',
       '2001', '2004'], dtype=object)

In [ ]:
# vauxhall = FieldID 1814
# Taber = FieldID 1804
# Cranford = FieldID 1810

rolling hills weather: 'vauxhall' \
barnwell weather: 'cranford' \
lethbridge weather: 1919, 1920, 1921, 1922, 2042 \
vauxhall weather: 1906, 1910, 2007 \
fincastle weather: 1904 \
bow weather = 1917, 2006, 2004, 'taber' \
bow north weather = 1915 \
grassy lake weather: 2001

In [28]:
rolling_hills1 = pd.read_csv('rolling_hills_18-19.csv')
rolling_hills2 = pd.read_csv('rolling_hills_20.csv')
rolling_hills = pd.concat([rolling_hills1, rolling_hills2], ignore_index=True)

In [18]:
rolling_hills.tail()

,Station Name,Date (Local Standard Time),Air Temp. Min. (ï¿½C),Air Temp. Min. Source Flag,Air Temp. Min. Record Completeness (%),Air Temp. Max. (ï¿½C),Air Temp. Max. Source Flag,Air Temp. Max. Record Completeness (%),Air Temp. Avg. (ï¿½C),Air Temp. Avg. Source Flag,...,Wind Speed 2 m Avg. Record Completeness (%),Wind Speed 10 m Avg. (km/h),Wind Speed 10 m Avg. Source Flag,Wind Speed 10 m Avg. Record Completeness (%),Wind Dir. 10 m Avg. (ï¿½),Wind Dir. 10 m Avg. Source Flag,Wind Dir. 10 m Avg. Record Completeness (%),Frost Probability 0ï¿½C (%),Frost Probability 0ï¿½C Source Flag,Frost Probability 0ï¿½C Record Completeness (%)
595,Rolling Hills AGCM,25-September-2020,7.8,ACTUAL,100.0,19.6,ACTUAL,100.0,13.5,AGGREGATED,...,100.0,29.2,AGGREGATED,100.0,229.7,AGGREGATED,100.0,74.6,COMPUTED,NaN
596,Rolling Hills AGCM,26-September-2020,5.6,ACTUAL,100.0,18.4,ACTUAL,100.0,11.8,AGGREGATED,...,100.0,20.8,AGGREGATED,100.0,264.0,AGGREGATED,100.0,74.6,COMPUTED,NaN
597,Rolling Hills AGCM,27-September-2020,0.5,ACTUAL,100.0,18.5,ACTUAL,100.0,8.8,AGGREGATED,...,100.0,15.2,AGGREGATED,100.0,284.2,AGGREGATED,100.0,79.7,COMPUTED,NaN
598,Rolling Hills AGCM,28-September-2020,0.5,ACTUAL,100.0,23.3,ACTUAL,100.0,11.8,AGGREGATED,...,100.0,11.9,AGGREGATED,100.0,206.5,AGGREGATED,100.0,79.7,COMPUTED,NaN
599,Rolling Hills AGCM,29-September-2020,6.0,ACTUAL,100.0,20.6,ACTUAL,100.0,13.8,AGGREGATED,...,100.0,14.2,AGGREGATED,100.0,334.4,AGGREGATED,100.0,81.4,COMPUTED,NaN

In [19]:
rolling_hills.shape

(600, 32)

In [20]:
rolling_hills.columns

Index(['Station Name', 'Date (Local Standard Time)', 'Air Temp. Min. (ï¿½C)',
       'Air Temp. Min. Source Flag', 'Air Temp. Min. Record Completeness (%)',
       'Air Temp. Max. (ï¿½C)', 'Air Temp. Max. Source Flag',
       'Air Temp. Max. Record Completeness (%)', 'Air Temp. Avg. (ï¿½C)',
       'Air Temp. Avg. Source Flag', 'Air Temp. Avg. Record Completeness (%)',
       'Humidity Avg. (%)', 'Humidity Avg. Source Flag',
       'Humidity Avg. Record Completeness (%)', 'Precip. Accumulated (mm)',
       'Precip. Accumulated Source Flag', 'Precip. Accumulated Comment',
       'Precip. (mm)', 'Precip. Source Flag', 'Precip. Comment',
       'Wind Speed 2 m Avg. (km/h)', 'Wind Speed 2 m Avg. Source Flag',
       'Wind Speed 2 m Avg. Record Completeness (%)',
       'Wind Speed 10 m Avg. (km/h)', 'Wind Speed 10 m Avg. Source Flag',
       'Wind Speed 10 m Avg. Record Completeness (%)',
       'Wind Dir. 10 m Avg. (ï¿½)', 'Wind Dir. 10 m Avg. Source Flag',
       'Wind Dir. 10 m Avg. Record Completeness (%)',
       'Frost Probability 0ï¿½C (%)', 'Frost Probability 0ï¿½C Source Flag',
       'Frost Probability 0ï¿½C Record Completeness (%)'],
      dtype='object')

In [29]:
to_drop = [
       'Air Temp. Min. Source Flag', 'Air Temp. Min. Record Completeness (%)',
       'Air Temp. Max. Source Flag',
       'Air Temp. Max. Record Completeness (%)', 
       'Air Temp. Avg. Source Flag', 'Air Temp. Avg. Record Completeness (%)',
       'Humidity Avg. Source Flag',
       'Humidity Avg. Record Completeness (%)', 
       'Precip. Accumulated Source Flag', 'Precip. Accumulated Comment',
        'Precip. Source Flag', 'Precip. Comment',
    'Wind Speed 2 m Avg. Source Flag',
       'Wind Speed 2 m Avg. Record Completeness (%)',
        'Wind Speed 10 m Avg. Source Flag',
       'Wind Speed 10 m Avg. Record Completeness (%)',
    'Wind Dir. 10 m Avg. Source Flag',
       'Wind Dir. 10 m Avg. Record Completeness (%)',
       'Frost Probability 0ï¿½C Source Flag',
       'Frost Probability 0ï¿½C Record Completeness (%)', 
'Precip. Accumulated (mm)']

rolling_hills.drop(labels=to_drop, axis=1, inplace=True)

In [32]:
rolling_hills.head()

,Station,Date,MinTemp,MaxTemp,MeanTemp,MeanRH,Precip,Wind2,Wind10,Wind10Dir,Frost
0,Rolling Hills AGCM,27-May-2018,5.6,27.9,18.7,57.0,0.0,9.9,11.5,68.1,10.2
1,Rolling Hills AGCM,28-May-2018,9.5,31.6,21.8,44.8,0.0,16.3,20.1,182.7,8.5
2,Rolling Hills AGCM,29-May-2018,11.1,22.1,17.3,42.3,0.0,19.9,25.3,341.5,8.5
3,Rolling Hills AGCM,30-May-2018,7.9,20.4,13.0,65.4,6.1,13.0,15.9,344.6,8.5
4,Rolling Hills AGCM,31-May-2018,4.2,10.2,8.5,92.5,5.2,14.8,18.2,40.0,6.8

In [31]:
# rename columns
rolling_hills.columns = ['Station','Date','MinTemp','MaxTemp','MeanTemp','MeanRH','Precip','Wind2','Wind10','Wind10Dir','Frost']

In [35]:
taber.to_csv('taber_processed_18-19.csv')

In [36]:
gl = pd.read_csv('grassy_lake_1915_1917_18-19.csv')

In [37]:
gl.drop(labels=to_drop, axis=1, inplace=True)

In [38]:
gl.head()

,Station Name,Date (Local Standard Time),Air Temp. Min. (ï¿½C),Air Temp. Max. (ï¿½C),Air Temp. Avg. (ï¿½C),Humidity Avg. (%),Precip. (mm),Wind Speed 10 m Avg. (km/h),Frost Probability 0ï¿½C (%)
0,Grassy Lake IMCIN,01-June-2018,9.1,16.0,11.2,87.3,13.4,14.3,1.7
1,Grassy Lake IMCIN,02-June-2018,6.8,23.0,15.6,56.9,0.0,18.7,1.7
2,Grassy Lake IMCIN,03-June-2018,6.8,25.7,17.2,55.8,0.0,13.1,1.7
3,Grassy Lake IMCIN,04-June-2018,12.5,26.7,19.6,46.5,0.0,23.7,1.7
4,Grassy Lake IMCIN,05-June-2018,5.0,22.8,14.8,55.5,0.0,11.1,1.7

In [39]:
gl.to_csv('grassy_lake_processed_18-19.csv')

In [40]:
vaux = pd.read_csv('vauxhall_18-19.csv')

In [41]:
vaux.drop(labels=to_drop, axis=1, inplace=True)

In [43]:
vaux.head()

,Station Name,Date (Local Standard Time),Air Temp. Min. (ï¿½C),Air Temp. Max. (ï¿½C),Air Temp. Avg. (ï¿½C),Humidity Avg. (%),Precip. (mm),Wind Speed 10 m Avg. (km/h),Frost Probability 0ï¿½C (%)
0,Vauxhall CDA CS,01-June-2018,8.8,14.9,11.1,87.4,19.5,10.8,5.1
1,Vauxhall CDA CS,02-June-2018,7.4,22.6,15.8,58.7,0.1,15.4,5.1
2,Vauxhall CDA CS,03-June-2018,7.1,24.9,16.7,60.8,0.0,10.1,5.1
3,Vauxhall CDA CS,04-June-2018,13.6,25.2,19.4,47.6,0.0,25.5,5.1
4,Vauxhall CDA CS,05-June-2018,5.7,21.8,14.3,56.9,0.1,12.7,5.1

In [44]:
vaux.to_csv('vauxhall_processed_18-19.csv')

In [48]:
nine = pd.read_csv('1919_18-19.csv')

In [49]:
nine.drop(labels=to_drop, axis=1, inplace=True)
nine.head()

,Station Name,Date (Local Standard Time),Air Temp. Min. (ï¿½C),Air Temp. Max. (ï¿½C),Air Temp. Avg. (ï¿½C),Humidity Avg. (%),Precip. (mm),Wind Speed 10 m Avg. (km/h),Frost Probability 0ï¿½C (%)
0,Lethbridge CDA,01-June-2018,8.7,16.7,11.4,85.5,16.5,10.6,3.4
1,Lethbridge CDA,02-June-2018,10.9,22.1,16.6,44.5,0.4,27.1,3.4
2,Lethbridge CDA,03-June-2018,9.1,27.1,18.1,49.1,0.2,9.4,1.7
3,Lethbridge CDA,04-June-2018,13.4,24.6,19.4,43.1,0.2,23.1,1.7
4,Lethbridge CDA,05-June-2018,5.2,22.2,15.0,46.5,0.0,12.8,1.7

In [50]:
nine.to_csv('lethbridge_processed_18-19.csv')

In [51]:
cran = pd.read_csv('cranford_18-19.csv')

In [52]:
cran.drop(labels=to_drop, axis=1, inplace=True)
cran.head()

,Station Name,Date (Local Standard Time),Air Temp. Min. (ï¿½C),Air Temp. Max. (ï¿½C),Air Temp. Avg. (ï¿½C),Humidity Avg. (%),Precip. (mm),Wind Speed 10 m Avg. (km/h),Frost Probability 0ï¿½C (%)
0,Barnwell AGDM,01-June-2018,9.1,15.4,11.3,86.6,18.5,13.5,1.7
1,Barnwell AGDM,02-June-2018,8.4,22.9,15.9,52.3,0.0,25.4,1.7
2,Barnwell AGDM,03-June-2018,6.2,25.9,16.9,55.6,0.0,13.5,1.7
3,Barnwell AGDM,04-June-2018,13.1,25.7,19.7,42.1,0.0,27.2,1.7
4,Barnwell AGDM,05-June-2018,3.9,22.5,14.4,52.0,0.0,13.6,1.7

In [53]:
cran.to_csv('cranford_processed_18-19.csv')

In [67]:
cran['Date (Local Standard Time)'] = pd.to_datetime(cran['Date (Local Standard Time)'])

In [107]:
cran_df = df.loc[df['Location.x'] == 'Cranford']

In [108]:
cran_df.shape

(77, 98)

In [109]:
cran_df2 = cran_df.merge(cran, how='left', left_on='Date', right_on='Date (Local Standard Time)')

In [110]:
cran_df2.shape

(77, 107)

In [111]:
taber_df = df.loc[(df['Location.x'] == 'Taber') | (df['Location.x'] == '1904')]

In [112]:
taber_df.shape

(131, 98)

In [113]:
taber['Date (Local Standard Time)'] = pd.to_datetime(taber['Date (Local Standard Time)'])

taber_df2 = taber_df.merge(taber, how='left', left_on='Date', right_on='Date (Local Standard Time)')

In [114]:
taber_df2.shape

(131, 107)

In [115]:
main = pd.concat([cran_df2, taber_df2])

In [116]:
main.shape

(208, 107)

In [117]:
gl_df = df.loc[(df['Location.x'] == '1915') | (df['Location.x'] == '1917')]

In [118]:
gl_df.shape

(100, 98)

In [119]:
gl['Date (Local Standard Time)'] = pd.to_datetime(gl['Date (Local Standard Time)'])

gl_df2 = gl_df.merge(gl, how='left', left_on='Date', right_on='Date (Local Standard Time)')

In [120]:
gl_df2.shape

(100, 107)

In [121]:
main = pd.concat([main, gl_df2])

In [122]:
main.shape

(308, 107)

In [123]:
v_df = df.loc[(df['Location.x'] == '1906') | (df['Location.x'] == '1910') | (df['Location.x'] == 'Vauxhall')]

In [124]:
v_df.shape

(196, 98)

In [125]:
vaux['Date (Local Standard Time)'] = pd.to_datetime(vaux['Date (Local Standard Time)'])

v_df2 = v_df.merge(vaux, how='left', left_on='Date', right_on='Date (Local Standard Time)')

In [126]:
v_df2.shape

(196, 107)

In [127]:
main = pd.concat([main, v_df2])

In [128]:
main.shape

(504, 107)

In [129]:
n_df = df.loc[df['Location.x'] == '1919']

In [130]:
n_df.shape

(64, 98)

In [131]:
nine['Date (Local Standard Time)'] = pd.to_datetime(nine['Date (Local Standard Time)'])

n_df2 = n_df.merge(nine, how='left', left_on='Date', right_on='Date (Local Standard Time)')

In [132]:
n_df2.shape

(64, 107)

In [133]:
main = pd.concat([main, n_df2])

In [134]:
main.shape

(568, 107)

In [135]:
df.shape

(568, 98)

In [136]:
main.to_csv('final_df.csv')

In [137]:
main.head()

,Location.x,JDay,Date,SsCtMean,SsCtSD,SsMean,logSsMean,SsSD,SsClean,logSsClean,...,Long,Station Name,Date (Local Standard Time),Air Temp. Min. (ï¿½C),Air Temp. Max. (ï¿½C),Air Temp. Avg. (ï¿½C),Humidity Avg. (%),Precip. (mm),Wind Speed 10 m Avg. (km/h),Frost Probability 0ï¿½C (%)
0,Cranford,164,2018-06-13,NaN,NaN,295.035,2.471343,NaN,NaN,NaN,...,NaN,Barnwell AGDM,2018-06-13,7.7,26.5,17.9,38.4,0.0,22.6,0.0
1,Cranford,165,2018-06-14,NaN,NaN,106.900,2.033021,NaN,NaN,NaN,...,NaN,Barnwell AGDM,2018-06-14,4.6,22.0,13.1,65.9,1.2,19.1,0.0
2,Cranford,166,2018-06-15,NaN,NaN,164.775,2.219519,NaN,NaN,NaN,...,NaN,Barnwell AGDM,2018-06-15,7.2,22.0,13.2,77.8,7.2,11.1,0.0
3,Cranford,167,2018-06-16,NaN,NaN,138.380,2.144200,NaN,NaN,NaN,...,NaN,Barnwell AGDM,2018-06-16,11.2,18.1,12.5,89.3,9.8,16.5,0.0
4,Cranford,168,2018-06-17,NaN,NaN,154.545,2.191856,NaN,NaN,NaN,...,NaN,Barnwell AGDM,2018-06-17,7.7,21.8,15.8,67.1,0.0,7.8,0.0

In [139]:
main.isnull().sum().sort_values(ascending=False).head(10)

SamplerNo        568
DiffMinSoilT     333
DiffMeanSoilT    333
DiffMaxSoilT     333
MaxSoilT_1d      331
MinSoilT_1d      331
MeanSoilT_1d     331
MaxSoilTemp      327
MeanSoilTemp     327
MinSoilTemp      327
dtype: int64

In [140]:
main.columns

Index(['Location.x', 'JDay', 'Date', 'SsCtMean', 'SsCtSD', 'SsMean',
       'logSsMean', 'SsSD', 'SsClean', 'logSsClean',
       ...
       'Long', 'Station Name', 'Date (Local Standard Time)',
       'Air Temp. Min. (ï¿½C)', 'Air Temp. Max. (ï¿½C)', 'Air Temp. Avg. (ï¿½C)',
       'Humidity Avg. (%)', 'Precip. (mm)', 'Wind Speed 10 m Avg. (km/h)',
       'Frost Probability 0ï¿½C (%)'],
      dtype='object', length=107)

In [141]:
df.columns

Index(['Location.x', 'JDay', 'Date', 'SsCtMean', 'SsCtSD', 'SsMean',
       'logSsMean', 'SsSD', 'SsClean', 'logSsClean', 'TtCt', 'TtSD', 'Water.',
       'logSsMean_t1', 'Year_x', 'MeanWetness', 'DiffMeanWet', 'MeanWet_1d',
       'MaxWetness', 'DiffMaxWet', 'MaxWet_1d', 'MinWetness', 'DiffMinWet',
       'MinWet_1d', 'MeanTemp', 'DiffMeanT', 'MeanT_1d', 'MaxTemp', 'DiffMaxT',
       'MaxT_1d', 'MinTemp', 'DiffMinT', 'MinT_1d', 'MeanRH', 'DiffMeanRH',
       'MeanRH_1d', 'MaxRH', 'DiffMaxRH', 'MaxRH_1d', 'MinRH', 'DiffMinRH',
       'MinRH_1d', 'DiffRH_0d', 'DiffRH_1d', 'DiffRH_2d', 'MaxDiffRH_2h',
       'MaxDiffRH_3h', 'MeanVPD', 'DiffMeanVPD', 'MeanVPD_1d', 'MaxVPD',
       'DiffMaxVPD', 'MaxVPD_1d', 'MinVPD', 'DiffMinVPD', 'TotalPrecip',
       'Precip_1d', 'RainYN', 'MaxRain', 'MinRain', 'MeanWC', 'DiffMeanWC',
       'MeanWC_1d', 'MaxWC', 'DiffMaxWC', 'MaxWC_1d', 'MinWC', 'DiffMinWC',
       'MinWC_1d', 'MeanDP', 'DiffMeanDP', 'MeanDP_1d', 'MaxDP', 'DiffMaxDP',
       'MaxDP_1d', 'MinDP', 'DiffMinDP', 'MinDP_1d', 'MeanSoilTemp',
       'DiffMeanSoilT', 'MeanSoilT_1d', 'MaxSoilTemp', 'DiffMaxSoilT',
       'MaxSoilT_1d', 'MinSoilTemp', 'DiffMinSoilT', 'MinSoilT_1d', 'Year_y',
       'FieldID', 'SamplerNo', 'CropType', 'Crop', 'Region', 'Province',
       'SamplerPresent', 'SamplerType', 'Lat', 'Long'],
      dtype='object')

In [142]:
to_drop = ['SamplerNo', 'Date (Local Standard Time)', 'Station Name', 'SamplerPresent','SamplerType','Province','Region','Crop','CropType','FieldID']

main.drop(labels=to_drop, axis=1, inplace=True)

In [143]:
main.shape

(568, 97)

In [144]:
main.to_csv('final_df.csv')