# Joining Provincial Weather Data and Engineering Features

In [3]:
import pandas as pd
import numpy as np

In [1]:
# weather data from https://agriculture.alberta.ca/acis/weather-data-viewer.jsp
# different weather stations were used for different field ID's, based on latitude and longitude

In [4]:
# spore data, weather from field weather stations, field ID information
df = pd.read_csv('data_and_location2.csv', index_col=0)

In [13]:
df.head()

,FieldID,Date,Year_x,JDay,SsCtMean,SsCtSD,SsMean,logSsMean,TtCt,TtSD,...,Year_y,SamplerNo,CropType,Crop,Region,Province,SamplerPresent,SamplerType,Lat,Long
0,1904,2019-07-05,2019,186,37.15,0.63,6.51,0.875640,23.60,0.10,...,2019.0,NaN,Bean,Bean,Vauxhall,Alberta,Yes,Burkard,49.869673,-112.076528
1,1904,2019-07-06,2019,187,40.00,0.00,0.00,0.000000,23.29,0.07,...,2019.0,NaN,Bean,Bean,Vauxhall,Alberta,Yes,Burkard,49.869673,-112.076528
2,1904,2019-07-07,2019,188,36.85,0.25,7.57,0.932981,23.40,0.07,...,2019.0,NaN,Bean,Bean,Vauxhall,Alberta,Yes,Burkard,49.869673,-112.076528
3,1904,2019-07-08,2019,189,38.80,0.76,2.32,0.521138,24.03,0.05,...,2019.0,NaN,Bean,Bean,Vauxhall,Alberta,Yes,Burkard,49.869673,-112.076528
4,1904,2019-07-09,2019,190,33.44,0.25,65.06,1.819939,24.41,0.08,...,2019.0,NaN,Bean,Bean,Vauxhall,Alberta,Yes,Burkard,49.869673,-112.076528

In [7]:
# create df sorted by date so we can id earliest and latest dates for weather history
df2 = df.copy()
df2['Date'] = pd.to_datetime(df2['Date'])
df2 = df.sort_values(by='Date')

In [8]:
print(df2.Date.head(1))
print(df2.Date.tail(1))

905    2018-06-13
Name: Date, dtype: object
750    2020-08-30
Name: Date, dtype: object

In [17]:
# 2018 dates start on June 13, 2020 dates end on Aug 30
df2['FieldID'].unique()

array(['Vauxhall', 'Cranford', 'Taber', '1919', '1920', '1921', '1906',
       '1910', '1922', '1904', '1917', '1915', '2007', '2006', '2042',
       '2001', '2004'], dtype=object)

#### Matching Provincial Data to Field Sites

**Weather stations: Field ID's** \
rolling hills weather: 'vauxhall' \
barnwell weather: 'cranford' \
lethbridge weather: 1919, 1920, 1921, 1922, 2042 \
vauxhall weather: 1906, 1910, 2007 \
fincastle weather: 1904 \
bow weather = 1917, 2006, 2004, 'taber' \
bow north weather = 1915 \
grassy lake weather: 2001

In [36]:
weather_dfs = []

In [37]:
rolling_hills1 = pd.read_csv('rolling_hills_18-19.csv')
rolling_hills2 = pd.read_csv('rolling_hills_20.csv')
rolling_hills = pd.concat([rolling_hills1, rolling_hills2], ignore_index=True)
weather_dfs.append(rolling_hills)

In [38]:
barnwell1 = pd.read_csv('barnwell_18-19.csv')
barnwell2 = pd.read_csv('barnwell_20.csv')
barnwell = pd.concat([barnwell1, barnwell2], ignore_index=True)
weather_dfs.append(barnwell)

In [39]:
lethbridge1 = pd.read_csv('lethbridge_18-19.csv')
lethbridge2 = pd.read_csv('lethbridge_20.csv')
lethbridge = pd.concat([lethbridge1, lethbridge2], ignore_index=True)
weather_dfs.append(lethbridge)

In [40]:
vauxhall1 = pd.read_csv('vauxhall_18-19.csv')
vauxhall2 = pd.read_csv('vauxhall_20.csv')
vauxhall = pd.concat([vauxhall1, vauxhall2], ignore_index=True)
weather_dfs.append(vauxhall)

In [41]:
fincastle1 = pd.read_csv('fincastle_18-19.csv')
fincastle2 = pd.read_csv('fincastle_20.csv')
fincastle = pd.concat([fincastle1, fincastle2], ignore_index=True)
weather_dfs.append(fincastle)

In [42]:
bow1 = pd.read_csv('bow_18-19.csv')
bow2 = pd.read_csv('bow_20.csv')
bow = pd.concat([bow1, bow2], ignore_index=True)
weather_dfs.append(bow)

In [43]:
bow_north1 = pd.read_csv('bow_north_18-19.csv')
bow_north2 = pd.read_csv('bow_north_20.csv')
bow_north = pd.concat([bow_north1, bow_north2], ignore_index=True)
weather_dfs.append(bow_north)

In [44]:
grassy_lake1 = pd.read_csv('grassy_lake_18-19.csv')
grassy_lake2 = pd.read_csv('grassy_lake_20.csv')
grassy_lake = pd.concat([grassy_lake1, grassy_lake2], ignore_index=True)
weather_dfs.append(grassy_lake)

#### Engineer Features for each weather location

In [7]:
# function to calucluate dew point from relative humidity and temperature
def dew_point(RH, Temp):
    a = Temp
    b = ((100-RH)/5)
    DP = a-b
    return DP

# function to calculate rolling means
# weather data extends several weeks before first spore data point, so nan values do not need to be imputed, as they will be dropped
def rolling_mean(data, col):
    # -1 day data
    name1 = col + '_1'
    # shift by 1
    lag1 = data[col].shift(1)
    # assign to column  
    data[name1] = lag1
    
    # -3 day mean
    name3 = col + '_3'
    # assign mean to column
    window3 = lag1.rolling(window=3).mean()
    data[name3] = window3
    
    # 7 day rolling mean leads to a lot of lost values
    # -7 day mean
    name7 = col + '_7'
    # assign mean to column
    window7 = lag1.rolling(window=7).mean()
    data[name7] = window7
    
    # return new dataframe
    return data

# function to calculate rolling sums
def rolling_sum(data, col):
    # -1 day data
    name1 = col + 'Sum_1'
    # shift by 1
    lag1 = data[col].shift(1)
    # assign to column  
    data[name1] = lag1
    
    # -3 day mean
    name3 = col + 'Sum_3'
    # assign mean to column
    window3 = lag1.rolling(window=3).sum()
    data[name3] = window3
    
    # 7 day rolling mean leads to a lot of lost values
    # -7 day mean
    name7 = col + 'Sum_7'
    # assign mean to column
    window7 = lag1.rolling(window=7).sum()
    data[name7] = window7
    
    # return new dataframe
    return data

# function to label temperature features as under dew point or not
def temp_DP(data, col):
    name = col + '_uDP'
    # 1 = under dew point
    data[name] = data.apply(lambda x: 1 if x[col] <= x['MeanDP'] else 0, axis = 1)
    return data

# function to label temperature features as under 20 degrees or not
def cool_temp(data, col):
    name = col + '_u20'
    # 1 = under 20
    data[name] = data[col].apply(lambda x: 1 if x <= 20 else 0)
    return data

In [8]:
# wrap all feature engineering into 1 function
def engineer(data):
    # drop extra columns
    to_drop = ['Air Temp. Min. Source Flag', 'Air Temp. Min. Record Completeness (%)',
       'Air Temp. Max. Source Flag','Air Temp. Max. Record Completeness (%)', 
       'Air Temp. Avg. Source Flag', 'Air Temp. Avg. Record Completeness (%)',
       'Humidity Avg. Source Flag','Humidity Avg. Record Completeness (%)', 
       'Precip. Accumulated Source Flag', 'Precip. Accumulated Comment','Precip. Source Flag', 'Precip. Comment',
        'Wind Speed 2 m Avg. Source Flag','Wind Speed 2 m Avg. Record Completeness (%)',
        'Wind Speed 10 m Avg. Source Flag','Wind Speed 10 m Avg. Record Completeness (%)',
        'Wind Dir. 10 m Avg. Source Flag','Wind Dir. 10 m Avg. Record Completeness (%)',
       'Frost Probability 0�C Source Flag','Frost Probability 0�C Record Completeness (%)', 
        'Precip. Accumulated (mm)']
    data.drop(labels=to_drop, axis=1, inplace=True)
    # rename columns
    data.columns = ['Station','Date','MinTemp','MaxTemp','MeanTemp','MeanRH','Precip','Wind2','Wind10','Wind10Dir','Frost']
    # turn date column into datetime
    data['Date'] = pd.to_datetime(data['Date'])
    # create dew point feature
    data['MeanDP'] = dew_point(data['MeanRH'], data['MeanTemp'])
    # create counts below dewpoint and 20 degrees
    temp_cols = ['MinTemp', 'MaxTemp', 'MeanTemp']
    for col in temp_cols:
        data = temp_DP(data, col)
        data = cool_temp(data, col)
    # calculate rolling means and sums
    roll_means = ['MinTemp','MaxTemp','MeanTemp','MeanRH','Precip','Wind2','Wind10','Wind10Dir','Frost','MeanDP']
    roll_sums = ['Precip','MinTemp_uDP','MaxTemp_uDP','MeanTemp_uDP', 'MinTemp_u20', 'MaxTemp_u20', 'MeanTemp_u20']
    for col in roll_means:
        data = rolling_mean(data, col)
    for col in roll_sums:
        data = rolling_sum(data, col)
    return data

In [45]:
# engineer features for each weather location
location_names = ['rolling_hills','barnwell','lethbridge','vauxhall','fincastle','bow','bow_north','grassy_lake']
for frame in weather_dfs:
    index = 0
    frame = engineer(frame)
    filename = location_names[index]
    frame.to_csv(filename + '2_processed.csv')
    index += 1

In [46]:
rolling_hills.shape

(600, 69)

In [197]:
rolling_hills.head()

,Station,Date,MinTemp,MaxTemp,MeanTemp,MeanRH,Precip,Wind2,Wind10,Wind10Dir,...,MeanTemp_uDPSum_7,MinTemp_u20Sum_1,MinTemp_u20Sum_3,MinTemp_u20Sum_7,MaxTemp_u20Sum_1,MaxTemp_u20Sum_3,MaxTemp_u20Sum_7,MeanTemp_u20Sum_1,MeanTemp_u20Sum_3,MeanTemp_u20Sum_7
0,Rolling Hills AGCM,2018-05-27,5.6,27.9,18.7,57.0,0.0,9.9,11.5,68.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Rolling Hills AGCM,2018-05-28,9.5,31.6,21.8,44.8,0.0,16.3,20.1,182.7,...,NaN,1.0,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN
2,Rolling Hills AGCM,2018-05-29,11.1,22.1,17.3,42.3,0.0,19.9,25.3,341.5,...,NaN,1.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
3,Rolling Hills AGCM,2018-05-30,7.9,20.4,13.0,65.4,6.1,13.0,15.9,344.6,...,NaN,1.0,3.0,NaN,0.0,0.0,NaN,1.0,2.0,NaN
4,Rolling Hills AGCM,2018-05-31,4.2,10.2,8.5,92.5,5.2,14.8,18.2,40.0,...,NaN,1.0,3.0,NaN,0.0,0.0,NaN,1.0,2.0,NaN

### Merge provincial weather location data with spore dataframe

In [47]:
# parse spore df into location groups to correspond to provincial data
df_rolling_hills = df2[df2['FieldID'] == 'Vauxhall'].copy()
df_barnwell = df2[df2['FieldID'] == 'Cranford'].copy()
df_lethbridge = df2[(df2['FieldID'] == '1919') | (df2['FieldID'] == '1920') | (df2['FieldID'] == '1921') | (df2['FieldID'] == '1922') | (df2['FieldID'] == '2042')].copy()
df_vauxhall = df2[(df2['FieldID'] == '1906') | (df2['FieldID'] == '1910') | (df2['FieldID'] == '2007')].copy()
df_fincastle = df2[df2['FieldID'] == '1904'].copy()
df_bow = df2[(df2['FieldID'] == '1917') | (df2['FieldID'] == '2006') | (df2['FieldID'] == '2004') | (df2['FieldID'] == 'Taber')].copy()
df_bow_north = df2[df2['FieldID'] == '1915'].copy()
df_grassy_lake = df2[df2['FieldID'] == '2001'].copy()

In [23]:
df_rolling_hills.shape

(77, 85)

In [24]:
df_rolling_hills.head()

,FieldID,Date,Year_x,JDay,SsCtMean,SsCtSD,SsMean,logSsMean,TtCt,TtSD,...,Year_y,SamplerNo,CropType,Crop,Region,Province,SamplerPresent,SamplerType,Lat,Long
905,Vauxhall,2018-06-13,2018,164,NaN,NaN,NaN,NaN,NaN,NaN,...,2019.0,NaN,City,NaN,Vauxhall,Alberta,No,NaN,50.070242,-112.106166
906,Vauxhall,2018-06-14,2018,165,NaN,NaN,NaN,NaN,NaN,NaN,...,2019.0,NaN,City,NaN,Vauxhall,Alberta,No,NaN,50.070242,-112.106166
907,Vauxhall,2018-06-15,2018,166,NaN,NaN,NaN,NaN,NaN,NaN,...,2019.0,NaN,City,NaN,Vauxhall,Alberta,No,NaN,50.070242,-112.106166
908,Vauxhall,2018-06-16,2018,167,NaN,NaN,NaN,NaN,NaN,NaN,...,2019.0,NaN,City,NaN,Vauxhall,Alberta,No,NaN,50.070242,-112.106166
909,Vauxhall,2018-06-17,2018,168,NaN,NaN,14.95,1.202761,NaN,NaN,...,2019.0,NaN,City,NaN,Vauxhall,Alberta,No,NaN,50.070242,-112.106166

In [48]:
# merge provincial weather data to appropriate spore df based on date
data_dfs = [df_rolling_hills, df_barnwell, df_lethbridge,df_vauxhall, df_fincastle, df_bow, df_bow_north, df_grassy_lake]

for i in range(len(data_dfs)):
    frame = data_dfs[i]
    weather = weather_dfs[i]
    frame = frame.merge(weather, how='left', on='Date', copy=False)
    data_dfs[i] = frame

In [49]:
data_dfs[0].shape

(77, 153)

In [272]:
# merge location dataframes back into one dataframe
main = pd.concat(data_dfs)

In [273]:
main.shape

(982, 153)

In [275]:
main.tail()

,FieldID,Date,Year_x,JDay,SsCtMean,SsCtSD,SsMean,logSsMean,TtCt,TtSD,...,MeanTemp_uDPSum_7,MinTemp_u20Sum_1,MinTemp_u20Sum_3,MinTemp_u20Sum_7,MaxTemp_u20Sum_1,MaxTemp_u20Sum_3,MaxTemp_u20Sum_7,MeanTemp_u20Sum_1,MeanTemp_u20Sum_3,MeanTemp_u20Sum_7
32,2001,2020-08-16,2020,229,25.19,0.028,8432.0,3.926,26.80,0.023,...,0.0,1.0,3.0,7.0,0.0,0.0,0.0,1.0,3.0,7.0
33,2001,2020-08-17,2020,230,25.95,0.057,4851.0,3.686,26.79,0.013,...,0.0,1.0,3.0,7.0,0.0,0.0,0.0,0.0,2.0,6.0
34,2001,2020-08-18,2020,231,23.10,0.038,38199.0,4.582,26.78,0.018,...,0.0,1.0,3.0,7.0,0.0,0.0,0.0,0.0,1.0,5.0
35,2001,2020-08-19,2020,232,23.38,0.265,31535.0,4.499,26.90,0.041,...,0.0,1.0,3.0,7.0,0.0,0.0,0.0,0.0,0.0,4.0
36,2001,2020-08-20,2020,233,26.62,0.084,2999.0,3.477,26.83,0.044,...,0.0,1.0,3.0,7.0,0.0,0.0,0.0,0.0,0.0,3.0

In [283]:
# drop rows where target is missing values
main.dropna(subset=['SsMean'], inplace=True)

In [284]:
main.SsMean.isnull().sum()

0

In [285]:
main.shape

(933, 153)

In [286]:
# save to csv
main.to_csv('final_df2.csv')

## Generate Several Datasets to try during modelling

#### Provincial weather data, with rolling means of spore counts

In [ ]:
# Despite high number of missing values, I also tried engineering features using the field weather station data
# model performace was not improved by using this data

In [74]:
# customize rolling_mean function for spore counts
# Dropping rows with nan values led to lower model performance, so rolling mean nan values were imputed instead
def spore_rolling_mean(data, col):
    # drop nan SsMean values
    data.dropna(subset=[col], inplace=True)
    
    # -1 day data
    name1 = col + '_1'
    # shift by 1
    lag1 = data[col].shift(1)
    # assign to column  
    data[name1] = lag1
    
    # -3 day mean
    name3 = col + '_3'
    # assign mean to column
    window3 = lag1.rolling(window=3).mean()
    data[name3] = window3
    
    # 7 day rolling mean leads to a lot of lost values
    # -7 day mean
    name7 = col + '_7'
    # assign mean to column
    window7 = lag1.rolling(window=7).mean()
    data[name7] = window7
    
    # fill NaN's with mean info so that we can keep as much data as possible
    # fill 1 day lag Nan with SsMean of first day
    data[name1] = data[name1].fillna(value=data.iloc[0][col])
    # fill 3 day lag Nans with value of 1 lag
    data[name3] = data[name3].fillna(value=data[name1])
    # fill 3 day lag Nans with value of rolling 3 day
    data[name7] = data[name7].fillna(value=data[name3])
    
    # return new dataframe
    return data

In [78]:
# generate spore rolling mean features
# Note: spore rolling means were also calculated based on Field ID (instead of prov. weather station id), but lower model performace was observed
for i in range(len(data_dfs)):
    frame = data_dfs[i]
    frame = spore_rolling_mean(frame, 'SsMean')
    data_dfs[i] = frame

In [80]:
data_dfs[3].shape

(166, 156)

In [81]:
# merge dataframes back into into one df
main_with_spores = pd.concat(data_dfs)

In [82]:
main_with_spores.shape

(933, 156)

In [90]:
# keep provincial weather features
to_keep = ['FieldID','Date','JDay','SsMean','Crop',
 'MinTemp_y','MaxTemp_y','MeanTemp_y','MeanRH_y','Precip','Wind2','Wind10','Wind10Dir','Frost','MeanDP_y',
 'MinTemp_uDP','MinTemp_u20','MaxTemp_uDP','MaxTemp_u20','MeanTemp_uDP','MeanTemp_u20','MinTemp_1','MinTemp_3',
 'MinTemp_7','MaxTemp_1','MaxTemp_3','MaxTemp_7','MeanTemp_1','MeanTemp_3','MeanTemp_7','MeanRH_1',
 'MeanRH_3','MeanRH_7','Precip_1','Precip_3','Precip_7','Wind2_1','Wind2_3','Wind2_7','Wind10_1',
 'Wind10_3','Wind10_7','Wind10Dir_1','Wind10Dir_3','Wind10Dir_7','Frost_1','Frost_3','Frost_7',
 'MeanDP_1','MeanDP_3','MeanDP_7','PrecipSum_1','PrecipSum_3','PrecipSum_7','MinTemp_uDPSum_1','MinTemp_uDPSum_3',
 'MinTemp_uDPSum_7','MaxTemp_uDPSum_1','MaxTemp_uDPSum_3','MaxTemp_uDPSum_7','MeanTemp_uDPSum_1','MeanTemp_uDPSum_3',
 'MeanTemp_uDPSum_7','MinTemp_u20Sum_1','MinTemp_u20Sum_3','MinTemp_u20Sum_7','MaxTemp_u20Sum_1','MaxTemp_u20Sum_3','MaxTemp_u20Sum_7',
 'MeanTemp_u20Sum_1','MeanTemp_u20Sum_3','MeanTemp_u20Sum_7','SsMean_1', 'SsMean_3', 'SsMean_7']

SFE = main_with_spores[to_keep].copy()

In [91]:
# replace crop nan's with 'unknown' category
SFE['Crop'] = SFE['Crop'].fillna('unknown')

In [92]:
SFE.isnull().sum().sort_values().tail()

MinTemp_3       0
MinTemp_1       0
MeanTemp_u20    0
MaxTemp_u20     0
SsMean_7        0
dtype: int64

In [93]:
# add date features
SFE['Date'] = pd.to_datetime(SFE['Date'])
SFE['month'] = pd.to_datetime(SFE['Date']).dt.month
SFE['year'] = pd.to_datetime(SFE['Date']).dt.year
SFE['YearWeek'] = pd.to_datetime(SFE['Date']).dt.isocalendar().week

# create log of target (add 1 to get around 0 errors)
SFE['logSsMean'] = np.log(SFE.SsMean + 1)

In [94]:
SFE.to_csv('SFE_data.csv')

In [287]:
# Now create FE and JFE dataframes

#### Provincial Weather DataFrame

In [310]:
# drop unnecessary columns
# wanted to keep leaf wetness and soil water content from field weather stations but too many missing values
to_keep = ['FieldID','Date','JDay','SsMean','Crop',
 'MinTemp_y','MaxTemp_y','MeanTemp_y','MeanRH_y','Precip','Wind2','Wind10','Wind10Dir','Frost','MeanDP_y',
 'MinTemp_uDP','MinTemp_u20','MaxTemp_uDP','MaxTemp_u20','MeanTemp_uDP','MeanTemp_u20','MinTemp_1','MinTemp_3',
 'MinTemp_7','MaxTemp_1','MaxTemp_3','MaxTemp_7','MeanTemp_1','MeanTemp_3','MeanTemp_7','MeanRH_1',
 'MeanRH_3','MeanRH_7','Precip_1','Precip_3','Precip_7','Wind2_1','Wind2_3','Wind2_7','Wind10_1',
 'Wind10_3','Wind10_7','Wind10Dir_1','Wind10Dir_3','Wind10Dir_7','Frost_1','Frost_3','Frost_7',
 'MeanDP_1','MeanDP_3','MeanDP_7','PrecipSum_1','PrecipSum_3','PrecipSum_7','MinTemp_uDPSum_1','MinTemp_uDPSum_3',
 'MinTemp_uDPSum_7','MaxTemp_uDPSum_1','MaxTemp_uDPSum_3','MaxTemp_uDPSum_7','MeanTemp_uDPSum_1','MeanTemp_uDPSum_3',
 'MeanTemp_uDPSum_7','MinTemp_u20Sum_1','MinTemp_u20Sum_3','MinTemp_u20Sum_7','MaxTemp_u20Sum_1','MaxTemp_u20Sum_3','MaxTemp_u20Sum_7',
 'MeanTemp_u20Sum_1','MeanTemp_u20Sum_3','MeanTemp_u20Sum_7']

FE = main[to_keep].copy()

In [312]:
# replace crop nan's with 'unknown'
FE['Crop'] = FE['Crop'].fillna('unknown')

In [313]:
FE.isnull().sum().sort_values(ascending=False).head(20)

FieldID             0
Date                0
PrecipSum_3         0
PrecipSum_1         0
MeanDP_7            0
MeanDP_3            0
MeanDP_1            0
Frost_7             0
Frost_3             0
Frost_1             0
Wind10Dir_7         0
Wind10Dir_3         0
Wind10Dir_1         0
Wind10_7            0
Wind10_3            0
Wind10_1            0
Wind2_7             0
PrecipSum_7         0
MinTemp_uDPSum_1    0
MinTemp_uDPSum_3    0
dtype: int64

In [314]:
# add date features
FE['Date'] = pd.to_datetime(FE['Date'])
FE['month'] = pd.to_datetime(FE['Date']).dt.month
FE['year'] = pd.to_datetime(FE['Date']).dt.year
FE['YearWeek'] = pd.to_datetime(FE['Date']).dt.isocalendar().week

In [315]:
# create log of target (add 1 to get around 0 errors)
FE['logSsMean'] = np.log(FE.SsMean + 1)

In [316]:
# save to csv
FE.to_csv('FE_data2.csv')